{
	"backend/**/*.ts": ["pnpm prettier --write \"./backend/**/*.ts\""],
	"backend/**/*.js": ["pnpm prettier --write \"./backend/**/*.js\""],
	"frontend/**/*.ts": ["pnpm prettier --write \"./frontend/**/*.ts\""],
	"frontend/**/*.tsx": ["pnpm prettier --write \"./frontend/**/*.tsx\""],
	"frontend/**/*.js": ["pnpm prettier --write \"./frontend/**/*.js\""]
}
